# Database connection string
DATABASE_URI=mongodb+srv://visitauschwitzinfo:<db_password>@blog-cluster.u0kan.mongodb.net/?retryWrites=true&w=majority&appName=blog-cluster
# Or use a PG connection string
#DATABASE_URI=postgresql://127.0.0.1:5432/payload-template-website
# Used to encrypt JWT tokens
PAYLOAD_SECRET=c098e58f2dfbf56feaa3a2e1
# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000